body{
	background-color: whitesmoke;
	color: black;
	font-size: initial;
	font-family: sans-serif;
}
h1,h2,h3{
	font-weight: bold;
}
a{
	color: limegreen;
}
a:hover{
	color: lime;
}
a:visited{
	color: lightgreen;
}
header{
	text-align: left;
	background-color: #202020;
	color: whitesmoke;
	font-weight: bold;
	font-size: 18pt;
	width: 100%;
	margin-bottom: 1em;
	overflow: hidden;
}
.topnav{
	text-align: right;
	list-style-type: none;
	margin: 0;
	padding-top: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.topnav li{
	display: inline;
}
.topnav a{
	text-align: center;
	padding: 5pt;
}
div#About{
	margin-left: 18em;
	margin-right: 18em;
	text-align: center;
}
figure{
	float: center;
	font-style: italic;
	text-align: center;
	margin-top: 1em;
}
div#Hobbies{
	position: absolute;
	float: right;
	right: 0;
	width: 18em;
	top: 3em;
	text-align: center;
}
div#Hobbies li{
	list-style: none;
}
div#Skills{
	position: absolute;
	float: left;
	left: 0;
	width: 18em;
	top: 3em;
	text-align: center;
}
div#Links{
	position: absolute;
	float: left;
	left: 0;
	width: 18em;
	top: 14em;
	text-align: center;
}
.italics{
	font-style: italic;
}
footer{
	background-color: #202020;
	color: whitesmoke;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	font-weight: bold;
	font-size: 18pt;
	text-align: center;
}
legend{
	margin-bottom: 1em;
	font-size: 18pt;
	font-weight: bold;
}
fieldset{
	text-align: center;
}
label{
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
}
.button{
	background-color: limegreen;
	color: white;
	border-radius: 8px;
	border: solid silver 1px;
	font-size: 14pt;
	padding: 1% 2%;
}
.button:hover{
	background-color: lime;
}
.button:active{
	background-color: lightgreen;
}