body{
	background-color: whitesmoke;
	color: black;
	font-size: initial;
	font-family: sans-serif;
}
h1,h2,h3{
	font-weight: bold;
}
section{
	margin-left: 1em;
}
h3,article{
	margin-bottom: 1em;
}
a{
	color: limegreen;
}
a:hover{
	color: lime;
}
a:visited{
	color: lightgreen;
}
header{
	text-align: left;
	background-color: #202020;
	color: whitesmoke;
	font-weight: bold;
	font-size: 18pt;
	width: 100%;
	margin-bottom: 1em;
	overflow: hidden;
}
.topnav{
	text-align: right;
	list-style-type: none;
	margin: 0;
	padding-top: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.topnav li{
	display: inline;
}
.topnav a{
	text-align: center;
	padding: 5pt;
}
figure{
	float: left;
	font-style: italic;
	text-align: center;
	margin-top: 1em;
	margin-right: 1em;
}
.italics{
	font-style: italic;
}
footer{
	background-color: #202020;
	color: whitesmoke;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	font-weight: bold;
	font-size: 18pt;
	text-align: center;
}
label{
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
}
.button{
	background-color: limegreen;
	color: white;
	border-radius: 8px;
	border: solid silver 1px;
	font-size: 14pt;
	padding: 1% 2%;
}
.button:hover{
	background-color: lime;
}
.button:active{
	background-color: lightgreen;
}
div#Links li{
	margin-top: 1em;
	margin-bottom: 1em;
}